.live-class-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1.5rem 0 !important;

    .MuiCardContent-root {
        padding: 0 !important;
    }

    .live-class-img {
        width: 100%;
        height: 15rem;
        background-size: cover;
    }

    .main-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }

    .live-class-content {
        margin-bottom: 1rem;

        &.body {
            width: 70%;
            text-align: center;
        }

        &.title {
            font-weight: 600;
        }

        &.date, &.time {
            font-weight: 600;
        }
    }
}
