/*
**** Project wide variables ****
*/

// Theme Colors
$color-primary--dark: #2c8663;
$color-primary: #5FB691;
$color-primary--light: #91e9c1;
$color-accent: #FFFFFF;
$color-secondary--dark: #FCBDB6;
$color-secondary: #F87060;
$color-gray-primary--dark: #000000;
$color-gray-primary: #333333;
$color-gray-primary--light: #8A8A8A;
