.home-header-container {
    display: flex;
    justify-content: space-between;
    background: rgb(145,233,193);
    background: linear-gradient(90deg, rgba(145,233,193,1) 0%, rgba(95,182,145,1) 25%, rgba(44,134,99,1) 100%);
    padding: 4rem;

    svg {
        width: 256px !important;
        height: auto !important;
        margin-left: 20%;

        image {
            width: 100%;
            height: auto;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-right: 10%;
        color: white;

        .main-title {
            width: 66%;
            text-align: center;
            font-weight: 600;
            margin: 0 0 2rem 0 !important;
        }

        .sub-title {
            width: 66%;
            text-align: center;
            font-weight: 300;
            margin: 0 0 4rem 0 !important;
        }

        .download-app {
            padding: 0.75rem 2.25rem;
            border-radius: 50px !important;

            .MuiButton-label {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
}
