@import 'partials/variables.scss';

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

button {
    border-radius: 1rem !important;
    background-color: $color-primary !important;
    color: white !important;
}

.button-alternate {
    border-radius: 1rem !important;
    background-color: white !important;
    color: $color-primary !important;
}
